{{define "content"}}
<style>
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: fit-content;
  }
</style>

<p>Add standard branding and tags to an image.</p>
<ul>
  <li>
    JPG, PNG, and GIF images are supported, though this is primarily intended
    for GIFs.
  </li>
  <li>
    A maximum of 20MB per upload applies and at least one tag is required.
  </li>
  <li>Tags are reduced to lowercase letters and numbers.</li>
  <li>
    The font size is variable based on the image height with a range of 16-32
    points.
  </li>
</ul>
<form method="post" enctype="multipart/form-data" target="_blank">
  <label>Tags <input name="tags" /></label>
  <label><input type="file" name="image" /></label>
  <div>
    <input type="submit" />
    <button type="reset">Clear</button>
  </div>
</form>
{{end}}
