{{define "content"}}
<style>
  #images {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 100%;
  }
  #images > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.75rem;
    width: 200px;
  }
  #toolbar {
    display: flex;
    gap: 8px;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 16px 0;
    margin-top: -16px;
  }
  #toolbar > input[type="text"],
  #toolbar > button {
    height: 2em;
    font-size: 1.6em;
  }
</style>

<div id="toolbar">
  <input id="tag" placeholder="Search tags..." /><button id="clearSearch">
    X
  </button>
</div>

<div id="images"></div>

<script type="text/javascript">
  let media;
  (async function () {
    try {
      const res = await fetch("/api/media");
      media = await res.json();
      render();
    } catch (e) {
      console.error(e);
    }
  })();

  const imgDiv = document.getElementById("images");

  const tagInput = document.getElementById("tag");
  tagInput.addEventListener("input", render);

  const clearSearchButton = document.getElementById("clearSearch");
  clearSearchButton.addEventListener("click", () => {
    tagInput.value = "";
    render();
  });

  function render() {
    if (typeof media === "undefined") {
      imgDiv.innerHTML = "Loading...";
      return;
    }

    const tagSearch = tagInput.value;
    const filteredMedia =
      tagSearch.length > 0
        ? media.filter((m) => m.tags.includes(tagSearch.toLowerCase()))
        : media;

    let acc = "";
    filteredMedia.forEach((m) => {
      const thumb = `/static/media/thumbnails/${stripFileExt(m.filename)}.jpg`;
      const file = `/static/media/${m.filename}`;
      acc += `<div><a target="_blank" href="${file}"><img src="${thumb}" /></a>tags: ${m.tags}</div>`;
    });
    imgDiv.innerHTML = acc;
  }

  function stripFileExt(filename) {
    const idx = filename.lastIndexOf(".");
    return idx === -1 ? filename : filename.slice(0, idx);
  }

  render();
</script>
{{end}}
